html, body {
    margin: 0;
    padding: 0;
}

#color-container{
   display:flex;
   height:200px;
   width:100vh; 
   display: flex;
  align-items: center;
  justify-content: center;
    
}

#color-container > div {
    display:flex;
    height:100%;
    width:20vh;
      
}




